In [ ]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [ ]:
df = pd.read_csv('/content/Shark Tank US dataset.csv')

In [ ]:
df.head()

,Season Number,Startup Name,Episode Number,Pitch Number,Season Start,Season End,Original Air Date,Industry,Business Description,Company Website,Pitchers Gender,Pitchers Average Age,Pitchers City,Pitchers State,Entrepreneur Names,Multiple Entrepreneurs,US Viewership,Original Ask Amount,Original Offered Equity,Valuation Requested,Got Deal,Total Deal Amount,Total Deal Equity,Deal Valuation,Number of Sharks in Deal,Investment Amount Per Shark,Equity Per Shark,Royalty Deal,Advisory Shares Equity,Loan,Deal Has Conditions,Barbara Corcoran Investment Amount,Barbara Corcoran Investment Equity,Mark Cuban Investment Amount,Mark Cuban Investment Equity,Lori Greiner Investment Amount,Lori Greiner Investment Equity,Robert Herjavec Investment Amount,Robert Herjavec Investment Equity,Daymond John Investment Amount,Daymond John Investment Equity,Kevin O Leary Investment Amount,Kevin O Leary Investment Equity,Guest Investment Amount,Guest Investment Equity,Guest Name,Barbara Corcoran Present,Mark Cuban Present,Lori Greiner Present,Robert Herjavec Present,Daymond John Present,Kevin O Leary Present,Guest Present
0,1,AvaTheElephant,1,1,9-Aug-09,5-Feb-10,9-Aug-09,Health/Wellness,Ava The Elephant - Baby and Child Care,http://www.avatheelephant.com/,Female,NaN,Atlanta,GA,Tiffany Krumins,0.0,4.15,50000,15.0,333333,1,50000.0,55.0,90909.0,1.0,50000.0,55.0,NaN,NaN,NaN,NaN,50000.0,55.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,1.0,1.0,1.0,NaN
1,1,Mr.Tod'sPieFactory,1,2,9-Aug-09,5-Feb-10,9-Aug-09,Food and Beverage,Mr. Tod's Pie Factory - Specialty Food,http://whybake.com/,Male,NaN,Somerset,NJ,Tod Wilson,0.0,4.15,460000,10.0,4600000,1,460000.0,50.0,920000.0,2.0,230000.0,25.0,NaN,NaN,NaN,NaN,230000.0,25.0,NaN,NaN,NaN,NaN,NaN,NaN,230000.0,25.0,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,1.0,1.0,1.0,NaN
2,1,Wispots,1,3,9-Aug-09,5-Feb-10,9-Aug-09,Business Services,Wispots - Consumer Services,http://www.wispots.com/,Male,NaN,Cary,NC,Kevin Flannery,0.0,4.15,1200000,10.0,12000000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,1.0,1.0,1.0,NaN
3,1,CollegeFoxesPackingBoxes,1,4,9-Aug-09,5-Feb-10,9-Aug-09,Lifestyle/Home,College Foxes Packing Boxes - Consumer Services,http://collegehunkshaulingjunk.com/,Male,NaN,Tampa,FL,"Nick Friedman, Omar Soliman",0.0,4.15,250000,25.0,1000000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,1.0,1.0,1.0,NaN
4,1,IonicEar,1,5,9-Aug-09,5-Feb-10,9-Aug-09,Software/Tech,Ionic Ear - Novelties,NaN,Male,NaN,St. Paul,MN,Darrin Johnson,0.0,4.15,1000000,15.0,6666667,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,1.0,1.0,1.0,NaN

In [ ]:

null_columns = df.columns[df.isnull().any()]
print(null_columns)

Index(['Company Website', 'Pitchers Gender', 'Pitchers Average Age',
       'Pitchers City', 'Pitchers State', 'Entrepreneur Names',
       'Multiple Entrepreneurs', 'Total Deal Amount', 'Total Deal Equity',
       'Deal Valuation', 'Number of Sharks in Deal',
       'Investment Amount Per Shark', 'Equity Per Shark', 'Royalty Deal',
       'Advisory Shares Equity', 'Loan', 'Deal Has Conditions',
       'Barbara Corcoran Investment Amount',
       'Barbara Corcoran Investment Equity', 'Mark Cuban Investment Amount',
       'Mark Cuban Investment Equity', 'Lori Greiner Investment Amount',
       'Lori Greiner Investment Equity', 'Robert Herjavec Investment Amount',
       'Robert Herjavec Investment Equity', 'Daymond John Investment Amount',
       'Daymond John Investment Equity', 'Kevin O Leary Investment Amount',
       'Kevin O Leary Investment Equity', 'Guest Investment Amount',
       'Guest Investment Equity', 'Guest Name', 'Barbara Corcoran Present',
       'Mark Cuban Present', 'Lori Greiner Present', 'Robert Herjavec Present',
       'Daymond John Present', 'Kevin O Leary Present', 'Guest Present'],
      dtype='object')

In [ ]:

for column in df.columns:
  if df[column].dtype == 'object':
    df[column].fillna('Unknown', inplace=True)
  elif df[column].dtype == 'int64' or df[column].dtype == 'float64':
    df[column].fillna(0, inplace=True)

In [ ]:


null_counts = df.isnull().sum()
print(null_counts[null_counts > 0])

Series([], dtype: int64)

In [ ]:
col_name = []
for i in df.columns:
  i = str(i).replace(' ','_').lower()
  col_name.append(i)

In [ ]:
df.columns=col_name

In [ ]:
df.drop(['pitch_number','season_start','season_end','business_description','company_website','entrepreneur_names'],inplace=True,axis=1)

In [ ]:
col_name = list(df.columns)
col_name

['season_number',
 'startup_name',
 'episode_number',
 'original_air_date',
 'industry',
 'pitchers_gender',
 'pitchers_average_age',
 'pitchers_city',
 'pitchers_state',
 'multiple_entrepreneurs',
 'us_viewership',
 'original_ask_amount',
 'original_offered_equity',
 'valuation_requested',
 'got_deal',
 'total_deal_amount',
 'total_deal_equity',
 'deal_valuation',
 'number_of_sharks_in_deal',
 'investment_amount_per_shark',
 'equity_per_shark',
 'royalty_deal',
 'advisory_shares_equity',
 'loan',
 'deal_has_conditions',
 'barbara_corcoran_investment_amount',
 'barbara_corcoran_investment_equity',
 'mark_cuban_investment_amount',
 'mark_cuban_investment_equity',
 'lori_greiner_investment_amount',
 'lori_greiner_investment_equity',
 'robert_herjavec_investment_amount',
 'robert_herjavec_investment_equity',
 'daymond_john_investment_amount',
 'daymond_john_investment_equity',
 'kevin_o_leary_investment_amount',
 'kevin_o_leary_investment_equity',
 'guest_investment_amount',
 'guest_investment_equity',
 'guest_name',
 'barbara_corcoran_present',
 'mark_cuban_present',
 'lori_greiner_present',
 'robert_herjavec_present',
 'daymond_john_present',
 'kevin_o_leary_present',
 'guest_present']

In [ ]:
col_name = ['season','startup_name','episode','air_date','industry','gender','avg_age','city','state','multi_pitcher','viewers',
            'ask_amount','offered_equity','valuation','deal','deal_amount','deal_equity','deal_valuation','sharks_in_deal',
            'amount_per_shark','equity_per_shark','royalty_deal','adv_equity','loan','deal_conditions',
            'barbara_inv_amt','barbara_inv_equity','mark_inv_amt','mark_inv_equity','lori_inv_amt','lori_inv_equity',
            'robert_inv_amt','robert_inv_equity','daymond_inv_amt','daymond_inv_equity','kevin_inv_amt','kevin_inv_equity',
            'guest_inv_amt','guest_inv_equity','guest_name','barbara','mark','lori','robert','daymond','kevin','guest']

df.columns = col_name

In [ ]:
df['deal_conditions'].value_counts()

deal_conditions
Unknown    1359
yes           2
Name: count, dtype: int64

In [ ]:
df['air_date'] = pd.to_datetime(df['air_date'])
df['startup_name'] = df['startup_name'].astype(str)
df['industry'] = df['industry'].astype(str)
df['gender'] = df['gender'].astype(str)
df['city'] = df['city'].astype(str)
df['state'] = df['state'].astype(str)
df['deal_conditions'] = df['deal_conditions'].astype(str)
df['guest_name'] = df['guest_name'].astype(str)

<ipython-input-315-29d4890006f8>:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['air_date'] = pd.to_datetime(df['air_date'])

In [ ]:

shark_data_season_11 = {
    1:  {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 1, 'daymond': 0, 'barbara': 0, 'guest': 1},  # Daniel Lubetzky
    2:  {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 0, 'daymond': 0, 'barbara': 1, 'guest': 1},  # Rohan Oza
    3:  {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 1, 'daymond': 1, 'barbara': 0, 'guest': 0},
    4:  {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 0, 'daymond': 0, 'barbara': 1, 'guest': 1},  # Rohan Oza
    5:  {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 0, 'daymond': 1, 'barbara': 0, 'guest': 1},  # Matt Higgins
    6:  {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 1, 'daymond': 0, 'barbara': 0, 'guest': 1},  # Daniel Lubetzky
    7:  {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 1, 'daymond': 1, 'barbara': 0, 'guest': 0},
    8:  {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 0, 'daymond': 1, 'barbara': 0, 'guest': 1},  # Anne Wojcicki
    9:  {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 1, 'daymond': 0, 'barbara': 1, 'guest': 0},
    10: {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 1, 'daymond': 0, 'barbara': 1, 'guest': 0},
    11: {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 0, 'daymond': 1, 'barbara': 1, 'guest': 0},
    12: {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 0, 'daymond': 0, 'barbara': 1, 'guest': 1},  # Rohan Oza
    13: {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 0, 'daymond': 1, 'barbara': 0, 'guest': 1},  # Maria Sharapova
    14: {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 1, 'daymond': 0, 'barbara': 0, 'guest': 1},  # Katrina Lake
    15: {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 1, 'daymond': 0, 'barbara': 1, 'guest': 0},
    16: {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 0, 'daymond': 0, 'barbara': 1, 'guest': 1},  # Rohan Oza
    17: {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 0, 'daymond': 1, 'barbara': 1, 'guest': 0},
    18: {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 1, 'daymond': 1, 'barbara': 0, 'guest': 0},
    19: {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 1, 'daymond': 0, 'barbara': 0, 'guest': 1},  # Daniel Lubetzky
    20: {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 0, 'daymond': 1, 'barbara': 1, 'guest': 0},
    21: {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 0, 'daymond': 1, 'barbara': 0, 'guest': 1},  # Anne Wojcicki
    22: {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 1, 'daymond': 1, 'barbara': 0, 'guest': 0},
    23: {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 0, 'daymond': 0, 'barbara': 1, 'guest': 1},  # Rohan Oza
    24: {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 1, 'daymond': 0, 'barbara': 0, 'guest': 1},  # Daniel Lubetzky
}


# Update the dataframe based on the shark_data_season_11 dictionary
for episode, sharks in shark_data_season_11.items():
    df.loc[(df['season'] == 11) & (df['episode'] == episode), ['mark', 'kevin', 'lori', 'robert', 'daymond', 'barbara', 'guest']] = [
        sharks['mark'], sharks['kevin'], sharks['lori'], sharks['robert'], sharks['daymond'], sharks['barbara'], sharks['guest']
    ]

# Now df will be updated with the correct shark presence information for Season 11
import pandas as pd

# Shark presence data for Season 12 based on the episodes provided earlier
shark_data_season_12 = {
    1:  {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 0, 'daymond': 1, 'barbara': 0, 'guest': 1},  # Blake Mycoskie
    2:  {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 0, 'daymond': 0, 'barbara': 1, 'guest': 1},  # Kendra Scott
    3:  {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 1, 'daymond': 1, 'barbara': 0, 'guest': 0},
    4:  {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 0, 'daymond': 1, 'barbara': 1, 'guest': 0},
    5:  {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 0, 'daymond': 1, 'barbara': 0, 'guest': 1},  # Daniel Lubetzky
    6:  {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 1, 'daymond': 1, 'barbara': 0, 'guest': 0},
    7:  {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 0, 'daymond': 1, 'barbara': 1, 'guest': 0},
    8:  {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 1, 'daymond': 1, 'barbara': 0, 'guest': 0},
    9:  {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 0, 'daymond': 0, 'barbara': 1, 'guest': 1},  # Alex Rodriguez
    10: {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 0, 'daymond': 0, 'barbara': 1, 'guest': 0},  # Alex Rodriguez
}

# Assuming df is the DataFrame with season and episode columns
# Example structure of the DataFrame:
# df = pd.DataFrame({'season': [12]*10, 'episode': range(1, 11), 'mark': [0]*10, 'kevin': [0]*10, 'lori': [0]*10,
#                    'robert': [0]*10, 'daymond': [0]*10, 'barbara': [0]*10, 'guest': [0]*10})

# Update the DataFrame based on the shark_data_season_12 dictionary
for episode, sharks in shark_data_season_12.items():
    df.loc[(df['season'] == 12) & (df['episode'] == episode), ['mark', 'kevin', 'lori', 'robert', 'daymond', 'barbara', 'guest']] = [
        sharks['mark'], sharks['kevin'], sharks['lori'], sharks['robert'], sharks['daymond'], sharks['barbara'], sharks['guest']
    ]

import pandas as pd

# Shark presence data for Season 13 with all sharks included
shark_data_season_13 = {
    1:  {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 0, 'daymond': 0, 'barbara': 0, 'guest': 1},
    2:  {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 0, 'daymond': 1, 'barbara': 0, 'guest': 1},
    3:  {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 0, 'daymond': 0, 'barbara': 1, 'guest': 0},
    4:  {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 1, 'daymond': 0, 'barbara': 1, 'guest': 1},
    5:  {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 1, 'daymond': 1, 'barbara': 0, 'guest': 0},
    6:  {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 1, 'daymond': 1, 'barbara': 0, 'guest': 0},
    7:  {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 0, 'daymond': 1, 'barbara': 0, 'guest': 1},
    8:  {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 0, 'daymond': 0, 'barbara': 1, 'guest': 0},
    9:  {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 0, 'daymond': 0, 'barbara': 1, 'guest': 1},
    10: {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 0, 'daymond': 0, 'barbara': 1, 'guest': 1},  # Kevin Hart
    11: {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 0, 'daymond': 0, 'barbara': 1, 'guest': 1},
    12: {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 0, 'daymond': 1, 'barbara': 0, 'guest': 0},
    13: {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 1, 'daymond': 0, 'barbara': 0, 'guest': 0},
    14: {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 0, 'daymond': 0, 'barbara': 1, 'guest': 1},
    15: {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 0, 'daymond': 1, 'barbara': 0, 'guest': 0},
    16: {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 0, 'daymond': 0, 'barbara': 1, 'guest': 1},
    17: {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 0, 'daymond': 1, 'barbara': 0, 'guest': 0},
    18: {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 1, 'daymond': 0, 'barbara': 0, 'guest': 1},
    19: {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 1, 'daymond': 1, 'barbara': 0, 'guest': 0},
    20: {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 0, 'daymond': 0, 'barbara': 1, 'guest': 0},
    21: {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 1, 'daymond': 0, 'barbara': 1, 'guest': 0},
    22: {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 0, 'daymond': 1, 'barbara': 0, 'guest': 1},
    23: {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 0, 'daymond': 1, 'barbara': 0, 'guest': 0},
    24: {'mark': 1, 'kevin': 1, 'lori': 1, 'robert': 1, 'daymond': 0, 'barbara': 0, 'guest': 1}  # Kevin Hart
}

# Assuming df is the DataFrame with season and episode columns
# Example structure of the DataFrame:
# df = pd.DataFrame({'season': [13]*24, 'episode': range(1, 25), 'mark': [0]*24, 'kevin': [0]*24,
#                    'lori': [0]*24, 'robert': [0]*24, 'daymond': [0]*24, 'barbara': [0]*24, 'guest': [0]*24})

# Update the DataFrame based on the shark_data_season_13 dictionary
for episode, sharks in shark_data_season_13.items():
    df.loc[(df['season'] == 13) & (df['episode'] == episode), ['mark', 'kevin', 'lori', 'robert', 'daymond', 'barbara', 'guest']] = [
        sharks['mark'], sharks['kevin'], sharks['lori'], sharks['robert'], sharks['daymond'], sharks.get('barbara', 0), sharks.get('guest', 0)
    ]
import pandas as pd

# Shark presence data for the provided episodes
shark_data = {
    1:  {'mark': 1, 'daymond': 1, 'barbara': 1, 'kevin': 1, 'lori': 1, 'robert': 1, 'guest': 0},  # Shark Tank LIVE!
    2:  {'mark': 1, 'daymond': 0, 'barbara': 1, 'kevin': 1, 'lori': 1, 'robert': 1, 'guest': 0},
    3:  {'mark': 1, 'daymond': 0, 'barbara': 0, 'kevin': 1, 'lori': 1, 'robert': 0, 'guest': 1},  # Kendra Scott
    4:  {'mark': 1, 'daymond': 1, 'barbara': 0, 'kevin': 1, 'lori': 1, 'robert': 1, 'guest': 0},
    5:  {'mark': 1, 'daymond': 0, 'barbara': 0, 'kevin': 1, 'lori': 1, 'robert': 1, 'guest': 1},  # Emma Grede
    6:  {'mark': 1, 'daymond': 1, 'barbara': 0, 'kevin': 1, 'lori': 1, 'robert': 0, 'guest': 1},  # Peter Jones
    7:  {'mark': 1, 'daymond': 0, 'barbara': 1, 'kevin': 1, 'lori': 1, 'robert': 1, 'guest': 0},
    8:  {'mark': 1, 'daymond': 1, 'barbara': 0, 'kevin': 1, 'lori': 1, 'robert': 0, 'guest': 1},  # Daniel Lubetzky
    9:  {'mark': 1, 'daymond': 0, 'barbara': 1, 'kevin': 1, 'lori': 1, 'robert': 1, 'guest': 0},
    10: {'mark': 1, 'daymond': 0, 'barbara': 1, 'kevin': 1, 'lori': 1, 'robert': 0, 'guest': 1},  # Gwyneth Paltrow
    11: {'mark': 1, 'daymond': 0, 'barbara': 1, 'kevin': 1, 'lori': 1, 'robert': 0, 'guest': 1},  # Tony Xu
    12: {'mark': 1, 'daymond': 1, 'barbara': 0, 'kevin': 1, 'lori': 1, 'robert': 0, 'guest': 1},  # Daniel Lubetzky
    13: {'mark': 1, 'daymond': 1, 'barbara': 0, 'kevin': 1, 'lori': 1, 'robert': 1, 'guest': 0},
    14: {'mark': 1, 'daymond': 0, 'barbara': 1, 'kevin': 1, 'lori': 1, 'robert': 1, 'guest': 1},  # Emma Grede
    15: {'mark': 1, 'daymond': 0, 'barbara': 1, 'kevin': 1, 'lori': 1, 'robert': 1, 'guest': 0},
    16: {'mark': 1, 'daymond': 1, 'barbara': 0, 'kevin': 1, 'lori': 1, 'robert': 1, 'guest': 0},
    17: {'mark': 1, 'daymond': 0, 'barbara': 1, 'kevin': 1, 'lori': 1, 'robert': 1, 'guest': 0},
    18: {'mark': 1, 'daymond': 1, 'barbara': 0, 'kevin': 1, 'lori': 1, 'robert': 0, 'guest': 1},  # Daniel Lubetzky
    19: {'mark': 1, 'daymond': 0, 'barbara': 1, 'kevin': 1, 'lori': 1, 'robert': 0, 'guest': 1},  # Gwyneth Paltrow
    20: {'mark': 1, 'daymond': 1, 'barbara': 1, 'kevin': 1, 'lori': 1, 'robert': 0, 'guest': 0},
    21: {'mark': 1, 'daymond': 1, 'barbara': 1, 'kevin': 1, 'lori': 1, 'robert': 0, 'guest': 0},
    22: {'mark': 1, 'daymond': 1, 'barbara': 1, 'kevin': 1, 'lori': 1, 'robert': 0, 'guest': 0}
}


# Update the DataFrame based on the shark_data dictionary
for episode, sharks in shark_data.items():
    df.loc[(df['season'] == 14) & (df['episode'] == episode), ['mark', 'daymond', 'barbara', 'kevin', 'lori', 'robert', 'guest']] = [
        sharks['mark'], sharks['daymond'], sharks['barbara'], sharks['kevin'], sharks['lori'], sharks['robert'], sharks['guest']
    ]

In [ ]:
df.head()

,season,startup_name,episode,air_date,industry,gender,avg_age,city,state,multi_pitcher,viewers,ask_amount,offered_equity,valuation,deal,deal_amount,deal_equity,deal_valuation,sharks_in_deal,amount_per_shark,equity_per_shark,royalty_deal,adv_equity,loan,deal_conditions,barbara_inv_amt,barbara_inv_equity,mark_inv_amt,mark_inv_equity,lori_inv_amt,lori_inv_equity,robert_inv_amt,robert_inv_equity,daymond_inv_amt,daymond_inv_equity,kevin_inv_amt,kevin_inv_equity,guest_inv_amt,guest_inv_equity,guest_name,barbara,mark,lori,robert,daymond,kevin,guest
0,1,AvaTheElephant,1,2009-08-09,Health/Wellness,Female,Unknown,Atlanta,GA,0.0,4.15,50000,15.0,333333,1,50000.0,55.0,90909.0,1.0,50000.0,55.0,0.0,0.0,0.0,Unknown,50000.0,55.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Unknown,1.0,0.0,0.0,1.0,1.0,1.0,0.0
1,1,Mr.Tod'sPieFactory,1,2009-08-09,Food and Beverage,Male,Unknown,Somerset,NJ,0.0,4.15,460000,10.0,4600000,1,460000.0,50.0,920000.0,2.0,230000.0,25.0,0.0,0.0,0.0,Unknown,230000.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,230000.0,25.0,0.0,0.0,0.0,0.0,Unknown,1.0,0.0,0.0,1.0,1.0,1.0,0.0
2,1,Wispots,1,2009-08-09,Business Services,Male,Unknown,Cary,NC,0.0,4.15,1200000,10.0,12000000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Unknown,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Unknown,1.0,0.0,0.0,1.0,1.0,1.0,0.0
3,1,CollegeFoxesPackingBoxes,1,2009-08-09,Lifestyle/Home,Male,Unknown,Tampa,FL,0.0,4.15,250000,25.0,1000000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Unknown,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Unknown,1.0,0.0,0.0,1.0,1.0,1.0,0.0
4,1,IonicEar,1,2009-08-09,Software/Tech,Male,Unknown,St. Paul,MN,0.0,4.15,1000000,15.0,6666667,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Unknown,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Unknown,1.0,0.0,0.0,1.0,1.0,1.0,0.0

In [ ]:
# prompt: IN the above create df, I want to add a column of the name of sharks that invested in the deal. If there is only one shark that has invested write N/A, else write the names of the sharks not the column names.

shark_cols = ['barbara_inv_amt', 'mark_inv_amt', 'lori_inv_amt', 'robert_inv_amt', 'daymond_inv_amt', 'kevin_inv_amt', 'guest_inv_amt']
shark_names = ['Barbara', 'Mark', 'Lori', 'Robert', 'Daymond', 'Kevin', 'Guest']

def get_shark_names(row):
  investors = []
  for i, col in enumerate(shark_cols):
    if row[col] != 0:
      investors.append(shark_names[i])
  if len(investors) == 0:
    return 'N/A'
  elif len(investors) == 1:
    return 'N/A'
  else:
    return ', '.join(investors)

df['shark_names'] = df.apply(get_shark_names, axis=1)

In [ ]:
# prompt: I want to create a column for each sharks, if they have invested the startup then 1 else 0. so column for each shark indicating if they invested or not

shark_cols = ['barbara_inv_amt', 'mark_inv_amt', 'lori_inv_amt', 'robert_inv_amt', 'daymond_inv_amt', 'kevin_inv_amt', 'guest_inv_amt']
shark_names = ['Barbara', 'Mark', 'Lori', 'Robert', 'Daymond', 'Kevin', 'Guest']

for i, col in enumerate(shark_cols):
  df[shark_names[i] + '_invested'] = (df[col] > 0).astype(int)

In [ ]:
df.to_csv('processed_data.csv',index=False)